body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
@import "../generated/leptonic/leptonic-themes";
html, body{
    height: 100%;
}

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    justify-content: center;
}


#queue {
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: center;
    top: 4.5em;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

.library-icon {
    font-size: 2em;
}


#library-drawer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0; 

    margin: 0;
    padding: 0;

    width: auto;
    min-width: auto;
    max-width: 40%;
}

#library-drawer #library-drawer-app-bar {
    position: absolute;
    height: 4.5em;
    width: 100%;
    margin: 0;
    padding: 1em;
    padding-right: 5em;
}

#library-drawer #library-drawer-content {
    position: relative;
    top: 4.5em;
    overflow-y: scroll;
}

#app-bar {
    position: fixed;
    z-index: 1;
    width: 100%;
    padding: 1em;
}

#alert {
    position: fixed;
    left: 0;
    right: 0;
    top: 4.5em;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    width: 30%;
}







