@import "../generated/leptonic/leptonic-themes";
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    overflow: clip;
}


#app {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    overflow-y: clip;
    justify-content: center;
}

#article-title-header {
    align-items: unset;
}


#queue {
    position: relative;
    display: flex;
    flex-direction: column;

    // top: 4.5em;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    white-space: normal;
}


#library-drawer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0; 

    margin: 0;
    padding: 0;
    min-width: 480px
}

@media only screen and (max-width: 479px) {
    #queue {
        width: 100%;
    }

    #library-drawer {
        width: 100%;
    }
}


#library-drawer #library-drawer-app-bar {
    position: absolute;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1em;
    padding-right: 5em;
}

#library-drawer #library-drawer-content {
    position: relative;
    overflow-y: scroll;
}

#app-bar {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    padding: 1em;
    overflow: unset;
}
    

.flex-layout{
    display: flex;
    flex-direction: row;
    justify-content: auto;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
}

.binder-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.search {
    width: 100%;
}

@media only screen and (max-width: 479px) {
    .flex-layout{
        display: flex;
        flex-direction: column;
    }
    .search {
        flex: 100%;
        width: 100%;
        max-width: unset;

    }

}

#library-drawer #library-drawer-app-bar {
    position: absolute;
    // height: 4.5em;
    width: 100%;
    margin: 0;
    padding: 1em;
    padding-right: 5em;
}

.library-icon {
    top: 50%;
    font-size: 2em;
    align-content: flex-start;
}

.article-body {
    max-width: 100%;
    height: auto;
    overflow-y: scroll;
    overflow-x: clip;
}

.article-body div {
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
#library-drawer #library-drawer-content {
    position: relative;
    top: 4.5em;
    overflow-y: scroll;
}


#alert {
    position: fixed;
    left: 0;
    right: 0;
    top: 4.5em;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    width: 30%;
}







