@import "../generated/leptonic/leptonic-themes";


[data-theme="dark"] {
    --font-family: "Titilliue Web", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    --text-color: #cccccc;
    
    --foreground-color: #f8f8f2;
    --background-color: #282a36;

    --hot-pink: #ff33cc;

    --dark-black: #21222c;
    --light-black: #6272a4;

    --dark-red: #ff5555
    --light-red: #ff6e6e
  
    --dark-green: #50fa7b;
    --light-green: #69ff94;

    --dark-yellow: #f1fa8c;
    --light-yellow: #ffffa5;

    --dark-blue: #bd93f9;
    --light-blue: #d6acff;

    --dark-magenta: #ff79c6;
    --light-magenta: #ff92df;

    --dark-cyan: #8be9fd;
    --light-cyan: #a4ffff;

    --dark-white: #f8f8f2;
    --light-white: #ffffff;

    --url-color: #ffb86c;
    --visited-url-color: #994f00;

    --brand-color: #8b39fd;
    
    --std-text-bright: var(--text-color);
    --box-background-color: var(--background-color);

    --app-bar-background-color: var(--dark-black);

    --collapsible-header-background-color: var(--dark-black);
    --collapsible-body-background-color: var(--background-color);

    

    --drawer-background-color: none;
    --drawer-box-shadow: none;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

html, body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    overflow: clip;
}

a:link {
    color: var(--url-color);
}

a:visited {
    color: var(--visited-url-color);
}


#app {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    overflow-y: clip;
    justify-content: center;
}

#article-title-header {
    align-items: unset;
    min-width: 50%;
}


#queue {
    position: relative;
    display: flex;
    flex-direction: column;

    // top: 4.5em;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
    white-space: normal;
}


#library-drawer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0; 

    margin: 0;
    padding: 0;
    min-width: 480px
}

@media only screen and (max-width: 479px) {
    #queue {
        width: 100%;
    }

    #library-drawer {
        width: 100%;
    }
}


#library-drawer #library-drawer-app-bar {
    position: absolute;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1em;
    padding-right: 5em;
}

#library-drawer #library-drawer-content {
    position: relative;
    overflow-y: scroll;
}

#app-bar {
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    padding: 1em;
    overflow: unset;
}
    

.flex-layout{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: center;
}

.binder-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: row;
    width: auto;
    min-width: 50%;
    align-items: center;
}

@media only screen and (max-width: 479px) {
    .flex-layout{
        display: flex;
        flex-direction: column;
    }
    .search {
        flex: 100%;
        width: 100%;
        max-width: unset;

    }

}

#library-drawer #library-drawer-app-bar {
    position: absolute;
    // height: 4.5em;
    width: 100%;
    margin: 0;
    padding: 1em;
    padding-right: 5em;
}

.library-icon {
    top: 50%;
    font-size: 2em;
    align-content: flex-start;
}

.article-body {
    max-width: 100%;
    height: auto;
    overflow-y: scroll;
    overflow-x: clip;
}

.article-body div {
    max-width: 100%;
    display: flex;
    align-content: flex-start;

}

img {
    max-width: 100%;
    height: auto;
}
#library-drawer #library-drawer-content {
    position: relative;
    top: 4.5em;
    overflow-y: scroll;
}


#alert {
    position: fixed;
    left: 0;
    right: 0;
    top: 4.5em;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    width: 30%;
}







